! Use a nice truetype font and size by default... 
XTerm*faceName: Source Code Pro for Powerline
XTerm*faceSize: 10

! I like a LOT of scrollback...
XTerm*savelines: 16384

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Theme Four
XTerm*background: rgb:00/00/00
XTerm*foreground: rgb:ff/ff/ff
XTerm*color0:     rgb:00/00/00
XTerm*color1:     rgb:d3/62/65
XTerm*color2:     rgb:ae/ce/91
XTerm*color3:     rgb:e7/e1/8c
XTerm*color4:     rgb:7a/7a/b0
XTerm*color5:     rgb:96/3c/59
XTerm*color6:     rgb:41/81/79
XTerm*color7:     rgb:be/be/be
XTerm*color8:     rgb:66/66/66
XTerm*color9:     rgb:ef/81/71
XTerm*color10:    rgb:e5/f7/79
XTerm*color11:    rgb:ff/f7/96
XTerm*color12:    rgb:41/86/be
XTerm*color13:    rgb:ef/9e/be
XTerm*color14:    rgb:71/be/be
XTerm*color15:    rgb:ff/ff/ff

! URXVT specific settings

URxvt*font: xft:Source Code Pro for Powerline:semibold:size=9
URxvt*letterSpace: -1

! Transparency by default
URxvt*depth: 32
URxvt*background: [60]#000000
URxvt*foreground: white

! Disable the scrollbar & enable shift + pg-up/down
URxvt*scrollBar: false
Urxvt*secondaryScroll: true
! Do not scroll with output
URxvt*scrollTtyOutput: false
! Scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! Scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Misc
URxvt*saveLines: 16384
URxvt*cursorBlink: true
URxvt*urgentOnBell: true
!URxvt*termName: rxvt-unicode

! Tango, baby
URxvt*color0:  #2E3436
URxvt*color1:  #a40000
URxvt*color2:  #4E9A06
URxvt*color3:  #C4A000
URxvt*color4:  #3465A4
URxvt*color5:  #75507B
URxvt*color6:  #ce5c00
URxvt*color7:  #babdb9
URxvt*color8:  #555753
URxvt*color9:  #EF2929
URxvt*color10: #8AE234
URxvt*color11: #FCE94F
URxvt*color12: #729FCF
URxvt*color13: #AD7FA8
URxvt*color14: #fcaf3e
URxvt*color15: #EEEEEC

! Extensions
URxvt.perl-ext-common: default,matcher,clipboard
! URLS
URxvt.urlLauncher: /usr/local/bin/firefox
URxvt.matcher.button: 1
URxvt.iso14755: false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
